google-api-service/src/main/app/1toll-dispatcher.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">


  
    <flow name="toll-dispatcherFlow">       
       
       <amqp:inbound-endpoint   responseTimeout="10000" doc:name="TollRabbitMQ Receiver" mimeType="application/json"   connector-ref="TollInboundQueue_RabbitMQ" queueName="${toll.inbound.queue}" queueDurable="true"/>
       <logger message="Message received from toll_q: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Message received from toll_q"/>
       <http:request config-ref="HTTP_Request_Configuration" path="/" method="POST" doc:name="QE2HTTP"/>
       
    </flow>

</mule>
